django
django-debug-toolbar
numpy
pandas
matplotlib
conda
pip3 install torch===1.3.1 torchvision===0.4.2 -f https://download.pytorch.org/whl/torch_stable.html
pytorch_transformers
sklearn
keras
tensorflow