.bigword {
    font-size:48px;
    font-weight: 600;
}
.color {
    color: #E9984E;
}
.smallword {

    font-size: 30px;
}
.content1 
{
 margin: auto;
 width: 70%;
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.content1 .cantent{
    text-align: center;
    line-height: 25px;
}