{% extends "detection/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">  
{% endblock %}

{% block content %}
    <div class="content1">
        <div class="cantent">
            <ul class="hr">
                <li>
                    <p class="bigword">Находим </p>
                </li>
                <li>
                    <p class="bigword color">Fake News</p>
                </li>
            </ul>
            <p class="smallword">загрузи статью и узнай врут ли тебе</p>
            {{ form.non_field_errors }}
            <form id="inputform" action="/" method="POST">
                {% csrf_token %}
                {{ form}}
                <!-- <input id="url" type="text" class="link_field" value="вставь ссылку статьи на проверку"> -->
                <br>
                <input id="butsubmit "type="submit" class="submit_button" value="Проверить">
            </form>
        </div>
    </div>
{% endblock %}


