{% extends "detection/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">  
{% endblock %}

{% block content %}
    <div class="content1">
        <div class="cantent">
            <h1 class="tlt">
                <ul class="texts">
                    <li><p class="bigword"> звоним редактору</p></li>
                    <li><p class="bigword"> опрашиваем свидетелей</p></li>
                    <li><p class="bigword"> проверяем источники</p></li>
                    <li><p class="bigword"> считаем баллы</p></li>
                </ul>
            </h1>
            <br>
            <img src="{% static 'img/inf.gif'%}" class="loader">
            <script>
                $('.texts').textillate({
                    minDisplayTime: 1000, 
                    in: { effect: 'fadeIn', sync: true }, 
                    out :{  delay: 1, effect: 'fadeOut', sync: true},
                    loop: true
                });
            </script>
            <script>
                $.ajax({
                url: '/runMain/{{source}}/{{text}}',
                dataType: 'json',
                success: function (data) {
                    window.setTimeout(function (){
                        window.location.replace("/result/{{source}}/"+data.isfake)
                    }, 20000)
                
                  
                }
              });
            </script>
            
        </div>
    </div>
{% endblock %}