<div class="top_menu">
    <ul>
        <li class="one">
            <div class="label">
                <h2>FakeNewsDetect</h2>
                <p>by molochko</p>
            </div>
        </li>
        <li class="two">
            <ul>
                <li>
                    <h2 class="content">Архив</h2>
                </li>
                <li>
                    <h2 class="content">Рейтинг</h2>
                </li>
                <li>
                    <h2 class="content">Проверить</h2>
                </li>
                <li>
                    <h2 class="content">О нас</h2>
                </li>
            </ul>
        </li>
        
    </ul>
    
</div>