<div class="top_menu">
    <ul>
        <li class="one">
            <div class="label">
                <a href="/">
                    <h2>FakeNewsDetect</h2>
                    <p>by molochko</p>
                </a>
            </div>
        </li>
        <li class="two">
            <ul>
                <li>
                    <h2 class="content"><a href="#archive">Архив</a></h2>
                </li>
                <li>
                    <h2 class="content"><a href="#result">Рейтинг</a></h2>
                </li>
                <li>
                    <h2 class="content"><a href="#check">Проверить</a></h2>
                </li>
                <li>
                    <h2 class="content"><a href="#about">О нас</a></h2>
                </li>
            </ul>
        </li>
        
    </ul>
    
</div>